extends layout.pug
block content
  .items-container
    each book in books
      .item
        //заголовок-ссылка
        a(href="/book/" + book._id )=book.title
        p= book.author
        p= book.category
        //p= moment(book.created_at).format("DD-MM-YYYY")
        //ниже получается ссылка на путь /book/:id
        //вставит значение _id из БД каждой книжки
        a.color(href="/book/" + book._id) смотреть