<!DOCTYPE html>
<html>
    <head>
        <title>главная</title>
    </head>
    <body>
        <form action="/book" method="post">
            title:<input type="text" name="title"><br>
            author:<input type="text" name="author"><br>
            category:<input type="text" name="category"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>