extends layout.pug
block content
  .items-container
    each column in columns
      .item
        p= board.title
        p= column.title
        //a(href="/column/" + boardId._id )
        //p= board.title